@import url(fonts.css);
@import url(common.css);

.header{
    background: url(../img/Header.png);
    background-size: cover;
    height: 700px;
    min-height: 100%;
    background-position: center center;
}
.nav_list{
    display: flex;
    align-items: center;
    gap: 30px;
}
.nav_link{
    font-weight: 700;
    font-size: 20px;
    text-align: right;
    color: #fff;
}
.nav_cards .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 6px;
    padding-bottom: 6px;
}
body >.header >.nav >.nav_cards{
    background: #282828;
    position: sticky;
    top: 0;
    left: 0;
    /* box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25); */
}
.nav_card{
    display: flex;
    align-items: center;
    gap: 25px;
}
.nav__menu {
    display: none;
}
.nav_title{
    font-weight: 400;
    font-size: 100px;
    line-height: 75%;
    color: #fff;
    display: flex;
    align-items: center;
    font-family: "Prosto_one";
}
.nav_office{
    font-weight: 500;
    font-size: 20px;
    color: #171718;  
    background: #fff;
    padding: 13px 14px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 11px;
}
.header >.nav >.container{
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 38px;
    padding-top: 269px;
    padding-bottom: 269px;
}